*.iml
.gradle
/local.properties
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/codeStyles
/.idea/compiler.xml
/.idea/libraries
/.idea/modules.xml
/.idea/misc.xml
/.idea/navEditor.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/Houseclub/release
/Houseclub/build
*.jks
